/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container Styles */
.otp-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Heading Styles */
.otp-container h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Input Styles */
input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    
}

/* Button Styles */
button[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #e4b21b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="button"]:hover {
    background-color: #ebc44e;
}

button[type="button"]:active {
    background-color: #d3a517;
}
